body {
    background-color: #27897e;
}
h1 {
    color: white;
    padding: 10px;
    font-family: courier;
}
input {
    background-color: #27897e;
    border-radius:8px;
    display: inline-block;
    border-style: solid;
    color: #ffffff;
    width: 70px;
    height: 30px;
    font-family: courier;
    box-shadow: 0px 10px 14px -7px #276873;
    border: outset;
}
input#array {
    width: 170px;
}
input:hover {
    position: relative;
	top: 2px;
    border-style: solid;
    color: #ffffff;
    width: 70px;
    height: 30px;
    font-family: courier;
    border: outset;
}
input#array:hover {
    width: 170px;
}